html {
    font-family: 'Press Start 2P', cursive;
    box-sizing: border-box;
    z-index: 2;
}

h1 {
    width: 50%;
    display: inline;
}

p {
    margin-top: 30px;
    font-size: smaller;
}

.btn-secondary {
    align-self: center;
    width: 100%;
    margin-top: 10px;
    padding: 20px;
    font-size: smaller;
}

.description {
    margin-top: 130px;
}

footer {
    width: 100%;
    margin-top: 330px;
    padding: 10px;
    background-color: rgb(107, 118, 126);
    font-size: smaller;
    color: white;
}

.main-footer {
    width: 100%;
    margin-top: 100px;
    padding: 10px;
    background-color: rgb(107, 118, 126);
    font-size: smaller;
    color: white;
}